 body
{
  background-color: azure;
}
button
{
  background-color: #FFA07A;
  text-align: center;
  color: #FFFFFF;
  font-size: 16pt;
  border-radius: 20px;
  cursor: pointer;
}
h1 
{
  font-size: 24pt;
  text-align: center;
}
h2 
{
  font-size: 20pt;
  text-align: center;
}
h3 
{
  font-size: 16pt;
  text-align: center;
}
p {
  font-size: 16pt;
  text-indent:40px;
  margin:0;
  padding:0;
}
