nav 
{
  background-color: black;
  height: 50px;
}
nav ul
{
  list-style; none;
  padding: 0;
  margin: 0;
}
nav ul li 
{
  list-style-type: none;
  width: 150px;
  float: left;
  display: block;
  border-radius: 1px solid #CCC;
  text-align: center;
  font-size: 16pt;
}
li a 
{
  text-decoration: none;
  color: white;
  line-height: 50px;
}
li a:hover
{
  background-color: yellow;
  color: green;
}
h1
{
  text-align: center;
  font-size: 24pt;
}